<md-content layout="column" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="vm.creationDate"></acme-navbar>
    </header>
    <div layout="row" layout-align="space-between center" layout-padding>
      <form ng-submit="vm.createUser()">
        <md-input-container>
          <label>Email</label>
          <input ng-model="vm.user.email" placeholder="Email">
        </md-input-container>
        <md-input-container>
          <label>First Name</label>
          <input ng-model="vm.user.first_name" placeholder="First Name">
        </md-input-container>
        <md-input-container>
          <label>Last Name</label>
          <input ng-model="vm.user.last_name" placeholder="Last Name">
        </md-input-container>
        <md-input-container>
          <label>Username</label>
          <input ng-model="vm.user.username" placeholder="Username">
        </md-input-container>
      </form>
      <md-button type="submit" ng-click="vm.createUser()" class="md-primary">
        Save
      </md-button>
    </div>

    <div class="techs" layout-align="center">
      <md-list ng-cloak flex>
        <md-list-item ng-repeat="user in vm.userList">
          <md-icon md-svg-icon="{{setting.icon}}"></md-icon>
          <p>{{user.email}}</p>
          <p>{{user.first_name}} </p>
          <p>{{user.last_name}} </p>
          <p>{{user.id}} </p>
          <md-button class="md-secondary md-icon-button md-warn" ng-click="vm.deleteUser(user)">
            <ng-md-icon icon="delete"></ng-md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
  </md-content>

</md-content>
